@model IEnumerable<BigSchool.Models.Course>

@{
    ViewBag.Title = "LectureIamGoing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lecture I'm Going</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>

    </tr>
}

</table>
